<section class="results">
  <!-- Mostrar el número de resultados filtrados -->
  <p>Total de resultados: {{ jatetxeakKopurua }}</p>
  <form>
    <input type="text" placeholder="Filtratu" [(ngModel)]="filterText" name="filterText" class="form-control"/>
    <button class="btn btn-primary" type="button" (click)="filterByCity()">Bilatu</button>
    <select name="select" class="form-control" (change)="selectMunicipality($event)">
      <option value="" disabled selected>Hautatu udalerri bat</option>
      <option *ngFor="let jatetxeak of originalJatetxeakList" [value]="jatetxeak.municipality">{{ jatetxeak.municipality }}</option>
    </select>
  </form>

  <!-- Tabla de resultados -->
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Izena</th>
        <th>Helbidea</th>
        <th>Hiria</th>
        <th>Telefonoa</th>
        <th>Xehatasunak</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jatetxeak of jatetxeakList | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
        <td>{{ jatetxeak.documentName }}</td>
        <td>{{ jatetxeak.address }}</td>
        <td>{{ jatetxeak.municipality }}</td>
        <td>{{ jatetxeak.phone }}</td>
        <td>
          <button (click)="navigateToDetails(jatetxeak.id)" class="btn btn-primary btn-sm">Ikusi xehetasunak</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Paginación -->
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</section>
